* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}

button:hover {
    cursor: pointer;
}
  
.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #1E1E54;
}
  
.navButton {
    font-size: 20px;
    background-color: #d0dbd9;
    margin-left: 8px;
    margin-right: 8px;
    border: 3px solid #d0dbd9;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
}
  
.navButton:hover {
    transform: scale(1.15);
}
  
.logo {
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}