body {
    background-color: #56565E;
}

button:hover {
    cursor: pointer;
}
  
.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #1E1E54;
}
  
.navButton {
    font-size: 20px;
    background-color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
    border: 3px solid #bababa;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
}
  
.navButton:hover, .dropbtn:hover, .dropbtnTwo:hover {
    transform: scale(1.15);
}
  
.logo {
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}