* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url("/static/images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}

button:hover {
    cursor: pointer;
}

.placeOfDay {
    margin: auto;
    background-color: #D0DBD9;
    width: 60%;
    border: 15px solid #1E1E54;
    padding: 50px;
    text-align: center;
}
  
.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #1E1E54;
    padding-right: 8px;
}
  
.navButton {
    font-size: 20px;
    background-color: #d0dbd9;
    margin-left: 8px;
    margin-right: 8px;
    border: 3px solid #d0dbd9;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
}
.searchButton { 
    font-size: 20px; 
    background-color: aliceblue;
    margin-left: 8px;
    margin-right: 8px;
    border: 3px solid #d0dbd9;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
} 
.navButton:hover {
    transform: scale(1.15);
}
  
.logo {
    height: 100px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.mapheader {
    text-align: center;
    margin: 10px;
}

#map {
    height: 100%;
    border: 30px #1E1E54;
}

.imgBorder {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 200px;
}

.row {
    display: flex;
}

.column {
    flex: 50.33%;
    padding: 15px;
    text-align: center;
}

.para {
    padding: 15px;
}

.mapLocations {
    font-size: 20px;
}

.mapTexts {
    font-size: 12px;
}

.mapLinks {
    text-decoration: underline;
}

.mapPage {
    height: 500px;
    width: 800px;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.person {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 300px;
    padding-top: 4.5%;
}

.container {
    overflow: hidden;
  }
  
.filterDiv {
    float: left;
    color: #000000;
    text-align: left;
    margin: 2px;
    line-break: after;
    display: none; /* Hidden by default */
}
  
/* The "show" class is added to the filtered elements */
.show {
    display: block;
  }
  
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 20px 20px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #ddd;
  }
  
/* Add a dark background to the active button */
.btn.active {
    background-color: #666;
    color: white;
  }

.p::after {
    display: block;
    white-space: pre;
}