<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About Us</title>
  <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css"/>
  <script src="script.js"></script>
</head>

<body>

  <nav class="nav">
    <a href="index.html" class="logoContainer"><img src="{{url_for('static',filename='images/logo.png')}}" class="logo"></a>
    <a href="index.html" class="navLinks"><button class="navButton">Home</button></a>
    <a href="search.html" class="navLinks"><button class="navButton">Search</button></a>
    <a href="map.html" class="navLinks"><button class="navButton">Map</button></a>
    <a href="sustainability.html" class="navLinks"><button class="navButton">Sustainability</button></a>
    <a href="creators.html" class="navLinks"><button class="navButton">Creators</button></a>
  </nav><br>

      <div>
        <h1> About Us</h1>
     </div>
     <hr>
     
    <h2> Our Team </h2>
     <div class = "row">
       <div class = "column">
          <img src="{{url_for('static',filename='images/Rohan.jpg')}}" alt="Rohan Panigrahi" class="person">
         <p> Rohan Panigrahi </p>
     </div>
     <div class = "column">
       <img src="{{url_for('static',filename='images/Shreya.jpg')}}" alt="Shreya Karnati" class="person">
       <p> Shreya Karnati </p>
     </div>
       <div class = "column">
         <img src="{{url_for('static',filename='images/Jeremy.jpg')}}" alt="Jeremy Thomas" class="person">
         <p> Jeremy Thomas </p>
     </div>
     </div>
   
     <div class = "row"> 
       <div class = "column">
         <img src="{{url_for('static',filename='images/JERMA.jpg')}}" alt="Malachy Eagen-Rataezyk" class="person">
         <p> Malachy Eagen-Rataezyk </p>
     </div>
       <div class = "column">
         <img src="{{url_for('static',filename='images/Oliver.jpg')}}" alt="Oliver Schwab" class="person">
         <p> Oliver Schwab </p>
     </div>
     </div>
</body>

</html>