<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title >Pork's Places</title>
  <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css"/>
  <script src="script.js"></script>
</head>

<body>
  <nav class="nav">
    <a href="index.html" class="logoContainer"><img src="{{url_for('static',filename='images/logo.png')}}" class="logo"></a>
    <a href="index.html" class="navLinks"><button class="navButton">Home</button></a>
    <a href="search.html" class="navLinks"><button class="navButton">Search</button></a>
    <a href="map.html" class="navLinks"><button class="navButton">Map</button></a>
    <a href="sustainability.html" class="navLinks"><button class="navButton">Sustainability</button></a>
    <a href="creators.html" class="navLinks"><button class="navButton">Creators</button></a>
  </nav><br>

  <!-- <img src="images/john.png" alt="messenger"> -->
  
  <div class="placeOfDay">
    <h1>Pork's Place of the Day</h1>
    <p>There is going to be a thing here for a randomly selected place</p>
    
  </div>

  <script>
    // var date = new Date();
    // date = date.toDateString();
    // document.getElementById("date").innerHTML = date;
    // var seed = 0;
    // for(let i = 0; i < date.length; i++){
    //   var charCode = date.charCodeAt(i);
    //   if(charCode > 0 && charCode > 0)
    //   {
    //   seed = seed + date.charCodeAt(i) * Math.pow(10, i);
    //   }
    //   else {
    //     seed = charCodeAt(0);
    //   }
    // }
    // document.getElementById("initialSeed").innerHTML = seed;
    // var modulus = 9471;
    // var multiplier = 507;
    // var increment = 4373;
    // seed = (seed * multiplier + increment) % modulus;
    // document.getElementById("finalSeed").innerHTML = seed;
  </script>
   
</body>
</html>