<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title >Search Page</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <script src="script.js"></script>
</head>

<body>
  <nav class="nav">
    <a href="index.html" class="logoContainer"><img src="logo.png" class="logo"></a>
    <button class="navButton"><a href="index.html" class="navLinks">Home</a></button>
    <button class="navButton"><a href="search.html" class="navLinks">Search</a></button>
    <button class="navButton"><a href="map.html" class="navLinks">Map</a></button>
    <button class="navButton"><a href="sustainability.html" class="navLinks">Sustainability</a></button>
    <button class="navButton"><a href="creators.html" class="navLinks">Creators</a></button>
  </nav><br>
  
   <h1> Search </h1> 
   <hr>
    <div id="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Show all</button>
      <button class="btn" onclick="filterSelection('Social')"> Social</button>
      <button class="btn" onclick="filterSelection('Nature')"> Nature</button>
      <button class="btn" onclick="filterSelection('Recreational')"> Recreational</button>
    </div>
    <div class="container">
      <div class="filterDiv Social Recreational">University District</div>
    <div class="filterDiv Social Nature Recreational">The Arboretum</div>
    <div class="filterDiv Social Nature Recreational">Marymoor Park</div>
    <div class="filterDiv Nature Recreational">Bridle Trails State Park</div>
    <div class="filterDiv Social Nature Recreational">Golden Gardens Park</div>
    <div class="filterDiv Social">St. Vincent De Paul's</div>
    <div class="filterDiv Social Nature Recreational">Saint Edward State Park</div>
    <div class="filterDiv Social Nature">The Quad</div>
    <div class="filterDiv Social Recreational">Seattle Waterfront</div>
    <div class="filterDiv Social Nature Recreational">Green Lake Park</div>
    <div class="filterDiv Social Nature Recreational">Snoqualmie Summit</div>
    <div class="filterDiv Nature Recreational">Hope Island State Park</div>
    <div class="filterDiv Nature Recreational">Deception Pass</div>
    <div class="filterDiv Social Nature Recreational">Jackson Park</div>
    <div class="filterDiv Nature Recreational">Mount Rainier</div>
    <div class="filterDiv Nature">Bellevue Botanical Garden</div>
    <div class="filterDiv Nature">Woodland Park Zoo</div>

  </div>
   <!--
    <div id = "social"> 
        U District, Arboretum, Marymoor Park
    </div>
    <button class="searchButton"><button onclick = "showSocial()"></button>Social</button>
    <div id = "nature">
        Bellevue Botanical Gardens, Bridle Trails State Park, Deception Pass, Golden Gardens Park, Green Lake Park, Hope Island State Park, 
        Jackson Park, Marymoor Park, Mount Rainier, Saint Edward State Park, Snoqualmie Summit, Woodland Park Zoo
    </div>
    <button class="searchButton"><button onclick = "showNature()"></button>Nature</button>
    </hr>
    -->
</body>
<script>
    filterSelection("all")
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("filterDiv");
      if (c == "all") c = "";
      // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {
          element.className += " " + arr2[i];
        }
      }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);
      } 
      }
      element.className = arr1.join(" ");
    } 

    // Add active class to the current control button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
    /*
    function showSocial() { 
        var x = document.getElementById("social");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
    }
    function showNature() { 
        var x = document.getElementById("nature");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
    }
    */
</script>
</html>